<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-primary opacity-10"></span>
    <!-- Header container -->
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-12">
                <a href="javascript:history.back()"><i class="fa fa-arrow-left"></i>Revenir vers la Liste des Tribunaux</a>
                <hr>
                <h3 class="mb-0">Ajouter Tribunal</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form (ngSubmit)="submitForm()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="nom" class="form-control-label">Nom</label>
                      <input type="text" name="nom" id="nom" class="form-control form-control-alternative" placeholder="Nom" [(ngModel)]="tribunal.nom" >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="adresse" class="form-control-label">Adresse</label>
                      <input type="text" name="adresse" id="adresse" class="form-control form-control-alternative" placeholder="Adresse" [(ngModel)]="tribunal.adresse">
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="gouvernorat" class="form-control-label" >Gouvernorat</label>
                      <input type="text" name="gouvernorat" id="gouvernorat" class="form-control form-control-alternative" placeholder="Gouvernorat" [(ngModel)]="tribunal.gouvernorat">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="ville" class="form-control-label" >Ville</label>
                      <input type="text" name="ville" id="ville" class="form-control form-control-alternative" placeholder="Ville" [(ngModel)]="tribunal.ville">
                    </div>
                  </div>
                </div>
  
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label for="telephone" class="form-control-label" >Telephone</label>
                          <input type="number" name="telephone" id="telephone" class="form-control form-control-alternative" placeholder="Telephone" [(ngModel)]="tribunal.telephone">
                        </div>
                      </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="type" class="form-control-label" >Type</label>
                            <select name="type" class="form-control form-control-alternative" [(ngModel)]="tribunal.type">
                              <option value="PREMIERE_INSTANCE">Premiere Instance</option>
                              <option value="CANTONAL">Cantonal</option>
                            </select>
                          </div>
                    </div>
                </div>


            <div class="col-12 text-right">
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>  
            </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

